<% provide(:title, "About us") %>
<h1>About us</h1>
<p align="center">
  This is a simple Forum using Rails framework, followed by The Ruby On Rails Tutorial 3rd Edition of Micheal Harlt.<br>
  This product belongs to Noname - Team.
</p>